html{
  font-family: roboto,sans-serif;
}

button{
  box-shadow: none;
  border-style: none;
  outline: none;

}
button:focus{
  outline: none;
  box-shadow: none;
}

html,
body {
  height: 100%;
}
.App {
  min-height: 100vh;
  background-size: cover;
  /* background-image: url(./scattered.jpg); */
  

}
.wheather-app_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wheather-app_container .card {
  max-width: 40rem;
  min-height: 25rem;
  text-align: center;
  background-color: #273746;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 100px 25px silver;
}

.wheather-app_container .card .img-fluid {
  flex-grow: 0;
  opacity: 0.8;
}
.wheather-app_container .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.wheather-app_container .card-body > .row {
  align-items: center;
  flex-grow: 1;
}
.wheather-app_container h2,
.wheather-app_container h3 {
  color: #5d6d7e;
}
.wheather-app_container h2 b,
.wheather-app_container h3 b {
  color: #08070f;
}
.wheather-app_container .card-body button {
  align-self: center;
  box-shadow: none;
  background-color: #303233;
  color: #fff;

}

/* .wheather-app_container .card-body button:visited,
.wheather-app_container .card-body button:active,
.wheather-app_container .card-body button:hover,
.wheather-app_container .card-body button:focus {
  box-shadow: none;
} */
